// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sesions{
	#header {
		background-color: #413e4a;
		}
			.title-xs {
		font-size: 1.13em; /* Approximation due to font substitution */
		font-weight: 600;
		line-height: 1.667;
		text-align: justify;
		color:  #7d7d7d;
		margin-bottom: 20px;
	}
	#section_title {
		text-align: left;
		margin-top: 60px;
		font-weight: 800;
		font-size: 22px;
		margin-left: auto;
		margin-right: auto;
		/*width: 430px*/;
		float: none;
		padding-left: 0;
		padding-right: 0;
	}
	#table_index {
			padding: 20px;
			margin-top: 40px;
			border: 1px solid gray;
			width: 400px;
			margin-left: auto;
			margin-right: auto;
	}
	#label{
  	float: left;
    color:  #7d7d7d;
    font-size: 0.88em;
    font-weight: 600;
    line-height: 2.143;
  }
  .value {
  	width: 130px;
  	float: left;
    color:  #7d7d7d;
    font-size: 1.13em; 
    font-weight: 600;
    line-height: 1.667;
    margin-bottom: 10px;
  }
  table {
  	margin-top: 20px;
  }
}