.small-form {
  display: inline-block;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}
.btn {
    background-color: rgb(34, 34, 34);
    border-color: rgb(34, 34, 34);
    color: #9d9d9d;
    margin-top: 8px;
}
.btn:hover {
  color: white;
  background-color: rgb(34, 34, 34);
  border-color: rgb(34, 34, 34);
}
.table-responsive {
  a:visited,a:hover{
    text-decoration: none !important;
    background-color: white !important;
  }
  a,a:visited {
    color:black !important;
  }
  a:hover {
    color: #9d9d9d !important;
  }
}
.footer-actions {
  text-align: center;
}
 #input_form {
      float: left;
      /*width: 350px;*/
      margin-left: 80px;
      margin-top: 50px;
     /* float: left;*/
      .field {
        margin-top: 15px;
        label {
        color:  #545454 !important;
        font-size: 1.13em !important; /* Approximation due to font substitution */
        font-weight: 600 !important;
        /*width: 350px;*/
        height: 13px !important;
        }
        input {
          border-radius: 4px !important;
          border-width: 1px;
          border-color:  #b7b7b7;
          border-style: solid;
          width: 100%;
          height: 35px;
          padding: 5px;
        }
        input[type=checkbox] {
          width: 20px;
          height: 20px;
        }
        input[type=text] {
          margin-top: 5px;
        }
        .actions {
          margin-top: 20px;
        }
      }
  }
  #input_form {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 50px;
    border-radius: 4px;
    border-width: 1px;
      border-color:  #D4D6D9;
      border-style: solid;
       padding-bottom: 30px;
      padding-top: 20px;
      background-color:  #f9fafa;
          select {
          margin-top: 5px;
          border-width: 1px;
          border-color:  #b7b7b7;
          border-style: solid;
          padding: 5px;
          width: 100%;
          border-radius: 4px;
          height: 30px;
        }
        input[type="submit"] {
          display: inline-block;
            margin-top: 20px;
            border-radius: 4px;
            border-color: #566473;
            background-color:  #566473;
            width: 137px;
            height: 45px;
            color: white;
            font-size: 1.31em; /* Approximation due to font substitution */
            font-weight: 600;
            border-style: solid;
            cursor: pointer;
          }
          input[type="submit"]:hover {
              background-color: #6D7F91;
            border-color: #6D7F91;
          }
          textarea {
      margin-top: 5px;
      border-width: 1px;
      border-color:  #b7b7b7;
      border-style: solid;
      padding: 5px;
      width: 100%;
      border-radius: 4px;
    }
  }
  .small-form {
    input[type="submit"] {
      width: 80px !important;
      height: 25px !important;
      margin-top: 10px !important;
      font-weight: 300 !important;
    }
  }
/*

html, body , header,body.roles, body.sessions, body.users, body.incidents, body.priorities, body.categories {
    margin-left:auto;
	margin-right:auto;

    max-width: 500px;
    background: #D4AED8;
    padding: 20px 20px 20px 20px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;

     }

th {
  margin-left:auto;
  margin-right:auto;

  max-width: 500px;
  background: #D4AED8;
  padding: 20px 20px 20px 20px;
  font: 14px Arial, Helvetica, sans-serif;
  color: darkmagenta;

}


table {
  background-color: white;
  border-width: 3px;
  border-color:  #600B6A;
  border-style: solid;
  width: 100%;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  border-top-left-radius: 10px;
}

th,td {
  padding: 15px;
}



#section_title, h3, h1 {
		text-align: left;
		background: #D4AED8;
		color: #600B6A;
		margin-top: 40px;
		margin-left: 80px;
		font-weight: 800;
		font-size: 22px;
		margin-right: auto;
	/*	float: none ;
		padding-left: 0;
		padding-right: 0;
}





 #input_form {
      float: left;
      margin-left: 80px;
      margin-top: 25px;
      .field {
        margin-top: 15px;
        label {
        color: #600B6A;
        font-size: 1.13em; 
        font-weight: 600;
        height: 13px;
        }
        input {
        border-radius: 4px;
        border-width: 1px;
        border-color:  #b7b7b7;
        border-style: solid;
        width: 100%;
        height: 35px;
        padding: 5px;
        }
        input[type=checkbox] {
          width: 20px;
          height: 20px;
        }
        input[type=text] {
          margin-top: 5px;
        }
        .actions {
          margin-top: 20px;
        }
      }
  }

 #links {

   float: left;
   margin-left: 0 px;
   margin-top: 25px;
   font-size: 1.13em;
   line-height: 150%;
     }

*/